<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.MsgNoticeSettingMapper">
    
    <resultMap type="MsgNoticeSetting" id="MsgNoticeSettingResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="identifier"    column="identifier"    />
        <result property="settingName"    column="setting_name"    />
        <result property="busId"    column="bus_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="isDisabled"    column="is_disabled"    />
    </resultMap>

    <sql id="selectMsgNoticeSettingVo">
        select id, user_id, identifier, setting_name, bus_id, parent_id, is_disabled from msg_notice_setting
    </sql>

    <select id="selectMsgNoticeSettingList" parameterType="MsgNoticeSetting" resultMap="MsgNoticeSettingResult">
        <include refid="selectMsgNoticeSettingVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="identifier != null  and identifier != ''"> and identifier = #{identifier}</if>
            <if test="settingName != null  and settingName != ''"> and setting_name like concat('%', #{settingName}, '%')</if>
            <if test="busId != null  and busId != ''"> and bus_id = #{busId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="isDisabled != null "> and is_disabled = #{isDisabled}</if>
        </where>
    </select>
    
    <select id="selectMsgNoticeSettingById" parameterType="Long" resultMap="MsgNoticeSettingResult">
        <include refid="selectMsgNoticeSettingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMsgNoticeSetting" parameterType="MsgNoticeSetting" useGeneratedKeys="true" keyProperty="id">
        insert into msg_notice_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="identifier != null">identifier,</if>
            <if test="settingName != null">setting_name,</if>
            <if test="busId != null">bus_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isDisabled != null">is_disabled,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="identifier != null">#{identifier},</if>
            <if test="settingName != null">#{settingName},</if>
            <if test="busId != null">#{busId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="isDisabled != null">#{isDisabled},</if>
         </trim>
    </insert>

    <update id="updateMsgNoticeSetting" parameterType="MsgNoticeSetting">
        update msg_notice_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="identifier != null">identifier = #{identifier},</if>
            <if test="settingName != null">setting_name = #{settingName},</if>
            <if test="busId != null">bus_id = #{busId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="isDisabled != null">is_disabled = #{isDisabled},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMsgNoticeSettingById" parameterType="Long">
        delete from msg_notice_setting where id = #{id}
    </delete>
    
    <delete id="deleteMsgNoticeSettingByParentId" parameterType="Long">
        delete from msg_notice_setting where parent_id = #{parentId}
    </delete>
    
    <delete id="deleteMsgNoticeSetting">
        delete from msg_notice_setting
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="identifier != null  and identifier != ''"> and identifier = #{identifier}</if>
            <if test="busId != null  and busId != ''"> and bus_id = #{busId}</if>
        </where>
    </delete>

    <delete id="deleteMsgNoticeSettingByIds" parameterType="String">
        delete from msg_notice_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>